.commandInput {
	border-top: 2px black solid; 
    padding: 25px;
}
.commandField {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.commandField textarea {
    width: 85%;
    height: 55px;
    resize: none;   
}
.commandField button {
    width: 12%;
    font-size: 15pt;
}
.commandFeedback {
    padding: 10px 0;
}